{% extends 'registration-and-login-base.html' %}
{% load crispy_forms_tags %}
{% block content %}      
        <div class="container p-3">
             <h5>Welcome to the Mobile Number Change Page</h5>

             <div class="otp-verify-div">

                {% if get_method or error %}

                    <br>
        
        
                    <form method="POST" action="" id="signupform"> 
                        {% csrf_token %}
                        <p>Current mobile number *</p>
                        <input type="number" name="current_no" id="id_current_no" required placeholder="Enter Current Mobile No" class="form-control">    
                        <p class="mt-1">New mobile number * </p>
                        <input type="number" name="mobile_no" id="id_mobile_no" required placeholder="Enter New Mobile No" class="form-control mt-1">                      
                        <hr>               
                        <div class="trend-btn  pb-3">           
                            <input type="submit" class="p-lr btn btn-primary generate-otp" value="Validate & Send OTP">
                        </div>   
                        
                        <div class="row otp-form d-none">
                            <div class="col-sm-6">
                                <input class="form-control mt-1" type="number" required placeholder="Enter Otp" name="otp" id="otp-input">
                            </div>
                            <div class="col-sm-6">
                               <button class="p-lr btn btn-primary verify-otp mt-1" > Verify </button>
                               <button class="p-lr btn btn-primary  mt-1 edit-mo d-none" > Edit Mobile No </button>
                            </div>
            
                        </div>
                      
                       
                        <input type="submit" class="p-lr btn btn-primary d-none signup-btn mt-2" value="Change Mobile No">
                        
        
                    </form>     
        
                    <form method="POST" action="" id="otpform">
                        {% csrf_token %} 
                    </form>

                {% else %}

                  {% if time_exceeded %}

                            <br>
                    
                            
                                <p style="color:red;" class="h6">OTP generated had expired. Generate it again.</p>
                            
                
                            <form method="POST" action="" id="signupform"> 
                                {% csrf_token %}
                                <p>Current mobile number *</p>
                                <input type="number" name="current_no" id="id_current_no" placeholder="Enter Current Mobile No" class="form-control">    
                                <p class="mt-1">New mobile number * </p>
                                <input type="number" name="mobile_no" id="id_mobile_no" placeholder="Enter New Mobile No" class="form-control mt-1">                      
                                <hr>               
                                <div class="trend-btn  pb-3">           
                                    <input type="submit" class="p-lr btn btn-primary generate-otp" value="Validate & Send OTP">
                                </div>   
                                
                                <div class="row otp-form d-none">
                                    <div class="col-sm-6">
                                        <input class="form-control mt-1" type="number" placeholder="Enter Otp" name="otf" id="otp-input">
                                    </div>
                                    <div class="col-sm-6">
                                        <button class="p-lr btn btn-primary verify-otp mt-1" > Verify </button>
                                        <button class="p-lr btn btn-primary  mt-1 edit-mo d-none" > Edit Mobile No </button>
                                    </div>
                    
                                </div>
                                
                                
                                <input type="submit" class="p-lr btn btn-primary d-none signup-btn mt-2" value="Change Mobile No">
                                
                
                            </form>     
                
                            <form method="POST" action="" id="otpform">
                                {% csrf_token %} 
                            </form>
                  
                  {% elif updated %}

                  <h4 class="text-center mt-3">Mobile number updated successfully.</h4>
                  <div class="text-center">
                    <a class="btn text-center mt-1" href="{% url 'my_profile' %}">Profile</a>
                  </div>

                  

                  {% endif %}


                {% endif %}
                    


             </div>

         
         
     
                              
        </div>   
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
        <script>
    
            $( document ).ready(function() {  


                {% if  mobile_verified  %}

                otp = '{{otp}}';
                $('#otp-input').val({{otp}});
                $('.otp-form').removeClass('d-none');
                $('.generate-otp').attr("disabled", true);

                $('.verify-otp').text('Verified');
                $('.verify-otp').attr("disabled", true);
                $('#otp-input').attr("disabled", true);
                $('#id_mobile_no').prop("readonly",true);
                $('.signup-btn').removeClass('d-none');
                $('.edit-mo').removeClass('d-none');

                


                {% endif %}
                
                
                //generate otp              
                $(".generate-otp").on('click', function() {
                    event.preventDefault();
                    currentNo = $('#id_current_no').val();
                    mobile = $('#id_mobile_no').val();
                    if (mobile && currentNo){
                        formdata = new FormData($('#signupform')[0]);
                        url = '{% url 'generate_otp_for_change_mobile_number' %}';
                        $.ajax({
                            url : url,
                            data : formdata,
                            method: 'post',
                            processData: false,
                            contentType: false,   
                                                    
                            success:function(response)
                            {
                            

                                if(response.account_not_exist){
                                    alert('Enter your current, correct mobile number..!');
                                }
                                else if(response.user_exists){
                                    alert('The new number entered is already registered with us..!');
                                }

                                else{

                                    $('.otp-form').removeClass('d-none');
                                    $('.generate-otp').attr("disabled", true);
                                    $('#id_current_no').prop('disabled', true);
                                    $('#id_mobile_no').prop('disabled', true);


                                    
                                }
                               
                            
                            },
                        });



                    }
                    else{

                        alert('Please enter mobile no.!');
                    }
             
        


                });

                //edit mobile no 
                $(".edit-mo").on('click', function() {
                    event.preventDefault();
                    removeSession();

                    $('.generate-otp').removeAttr("disabled");                    
                    $('#otp-input').val('');
                    $('.otp-form').addClass('d-none');                
                    $('.verify-otp').text('Verify');
                    $('.verify-otp').attr("disabled", false);
                    $('#otp-input').attr("disabled", false);
                    $('#id_mobile_no').prop("readonly",false);
                    $('.signup-btn').addClass('d-none');
                    $('.edit-mo').addClass('d-none');
                    $('#id_current_no').prop('disabled', false);
                    $('#id_mobile_no').prop('disabled', false);

                });
    

                

                //verify otp
                $(".verify-otp").on('click', function() {
                    event.preventDefault();
                    otp = $('#otp-input').val();
                    if (otp){
                        formdata = new FormData($('#otpform')[0]);
                        formdata.append('otp', otp);
                        url = '{% url 'otp_validate' %}';
                        $.ajax({
                            url : url,
                            data : formdata,
                            method: 'post',
                            processData: false,
                            contentType: false,    
                            
                            beforeSend: function() {
                                // setting a timeout
                                $('.verify-otp').text('Please Wait..');
                            },
                            success:function(response)
                            {
                                if(response.user_exists){
                                    alert('Numbers given is already registered.');
                                }

                                else if(response.verified){
                                    $('.verify-otp').text('Verified');
                                    $('.verify-otp').attr("disabled", true);
                                    $('#otp-input').attr("disabled", true);
                                    $('#id_mobile_no').prop("readonly",true);
                                    $('.signup-btn').removeClass('d-none');
                                    $('.edit-mo').removeClass('d-none');                                  
                                    
                                } 
                                
                                else if(response.wrong_code){
                                    $('.verify-otp').text('Verify');
                                    alert('Please enter a correct OTP.');
                                } 

                                else if(response.time_exceeded){

                                    alert('OTP entered had expired. Generate it again.');

                                    $('.verify-otp').text('Verify');
                                    $('.generate-otp').removeAttr("disabled");
                                    $('.verify-otp').attr("disabled", false);
                                    $('#otp-input').val('');
                                    $('#otp-input').attr("disabled", false);
                                    $('#id_mobile_no').prop("readonly",false);
                                    $('.signup-btn').addClass('d-none');
                                    $('.edit-mo').addClass('d-none');
                                    $('.otp-form').addClass('d-none');
                                    
                                    removeSession();

                                }
                            },
                        });

                    }
                    else{

                        alert('Please enter OTP.!');
                    }            
        
                });



                //Session remove 
                function removeSession(){

                    url = '{% url 'otp_session_remove' %}';
                    $.ajax({
                        url : url,  
                        success:function(response)
                        {
                            
                        },
                    });



                }



                //password visibility change    
                $(".password-visibility-1").on('click', function() {
        
                    var inputType  = $('#id_password1').attr('type');
                    if(inputType == "password"){
                        $('#id_password1').attr('type','text');
                        $('.change-icon-1').removeClass( "fa-eye-slash" );
                        $('.change-icon-1').addClass( "fa-eye" );              
                    }
                    else{
                        $('#id_password1').attr('type','password');
                        $('.change-icon-1').removeClass( "fa-eye" );
                        $('.change-icon-1').addClass( "fa-eye-slash" );                
        
                    }
        
                });

                                //password visibility change    
                $(".password-visibility-2").on('click', function() {
        
                    var inputType  = $('#id_password2').attr('type');
                    if(inputType == "password"){
                        $('#id_password2').attr('type','text');
                        $('.change-icon-2').removeClass( "fa-eye-slash" );
                        $('.change-icon-2').addClass( "fa-eye" );              
                    }
                    else{
                        $('#id_password2').attr('type','password');
                        $('.change-icon-2').removeClass( "fa-eye" );
                        $('.change-icon-2').addClass( "fa-eye-slash" );                
        
                    }
        
                });
            });
        </script>        


{% endblock %}