{% for message in messages %}
    {% if message.message_by == user %}
        <div class="col-sm-12">
            <p class="float-end">

                {% if message.m_file %}                
                   <a class="btn-link" download href="{{message.m_file.url}}">{{message.message}} - Download</a>
                {% else %}
                   {{message.message}}
                {% endif %}
            
            </p>
        </div> 
        
    {% else %}
        <div class=" col-sm-12">
            

            <p class="float-start">

                {% if message.m_file %}                
                   <a class="btn-link" download href="{{message.m_file.url}}">{{message.message}} - Download</a>
                {% else %}
                   {{message.message}}
                {% endif %}
            
            </p>
        </div>

    {% endif %}
{% endfor %}