{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load check_post_like_tags %}

{% block home %}nav-active{% endblock %}
{% block content %}
 <!-- BreadCrumb Starts -->  
 <section class="breadcrumb-main pb-0 pt-3" style="background-image: url(images/bg/bg2.jpg);">
    <div class="breadcrumb-outer">
        <div class="container">
            <div class="breadcrumb-content d-md-flex align-items-center pt-1">
              
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'portal_admin' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">View Post</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="dot-overlay"></div>
</section>
<!-- BreadCrumb Ends --> 

<div  class="text-center">
   <h5 class="created-message theme"></h5>
</div>

<!-- blog starts -->
<section class="blog blog-left">
    <div class="container">
        <div class="row">
               <!-- sidebar starts -->
               <div class="col-lg-3 col-md-12">
                <div class="sidebar-sticky">
                    <div class="">
                        <div class="author-news mb-4 shadow-sm p-4 text-center">
                            <div class="author-news-content">
                                <h4 class="text-align-left">Posted By</h4>

                                <div class="row">

                                    <div class="col-lg-12">
                                        {% if post.posted_by.profile_photo %}
                                            <img class="rounded shadow"  src="{{post.posted_by.profile_photo.url}}" alt="author">
                                        {% else %}
                                            <img src="{% static 'images/avatar.png' %}">
                                        {% endif %}
                                    </div>
                                    <div class="col-lg-12">
                                        <h4 class="title mb-1 mt-1 text-align-left"><u><a href="{%url 'profile' post.posted_by.id  %}">{{post.posted_by}} </a></u></h4>

                                        <p class="text-align-left">
                                            {% for group in post.posted_by.groups.all %}
                                                {{group}} 
                                                {% if not forloop.last %}
                                                    /
                                                {% endif %}
                                           {% endfor %}
                                        </p>

                                        <p class="mb-2 text-align-left">
                                            Report : 
                                            <a class="highlight float-end text-white" href="{% url 'statistics' post.posted_by.id %}">
                                                <span class="report_count">{{post.get_report_count}}</span>
                                            </a>
                                        </p>

                                    </div>

                                </div>
                                <div class="author-thumb mb-1">                               

                                  
                                   
                                </div>
                                <div class="author-content">
                                   
                                                                          
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                

                <div class="row d-flex shadow-sm p-2 mb-2 border post-box post-wrapper" id="post_div">
                                           
                    <div class="col-lg-12 col-sm-12 mb-4">
                      
                                
                    <div class="row d-flex">
                        <div class="col-lg-12 col-sm-12">
                            {% if  post.pitch  %}
                                <h4 class="h4-normal ">Read My Story Synopsis of <span class="pitch-color">{{post.pitch.story_title}}</span></h4>
                            {% else %}
                                <h4 class="h4-normal">{{post.post_title}}</h4>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row d-flex ">
                            <div class="col-lg-12 col-sm-12 text-align-left">
                            <p><a class="orange-color" href="{% url 'profile' post.posted_by.id %}"><b><u>{{post.posted_by}}</u></b></a>
                                <label class="postedon-font-size">
                                    ({% for group in post.posted_by.groups.all %}
                                            {{group}} 
                                        {% if not forloop.last %}
                                            /
                                        {% endif %} 
                                    {% endfor %})
                                </label> 
                                <label  class="postedon-font-size"> · {{post.date|date:"j M Y · g.s A"}} </label>

                                {% for pitched_to in post.pitch.pitch_to_people.all %}
                                {% if pitched_to == user %}
                                    <label class="small d-inline rounded float-end" style="background-color:#f1f2f2;">&nbsp; Privately shared to you&nbsp;</label>
                                {% endif %}
                            {% endfor %}

                                
                            </p>
                            </div>           
                    </div>   

                    
                        {% if post.award %}

                            <div class="row">									
                                <div class="col-lg-8 col-sm-12">        
                                    <ul class="posts-liststyle">
                                        <li><b>Project:</b> {{post.award.project}}</li>
                                        <li><b>Title:</b> {{post.award.title}}</li> 
                                        <li><b>Year:</b> {{post.award.year}}</li>  
                                        <li><b>Banner:</b> {{post.award.banner}}</li>

                                    </ul>                
                                </div>
                                <div class="col-lg-4 col-sm-12">
                                    <div class="about-image  box-shadow ">
                                        <img src="{{post.award.image.url}}"  alt="" class="w-100">                  
                                    </div>
                                </div>            
                            </div> 
                        
                            {% elif post.project %}

                                <div class="row">									
                                    <div class="col-lg-8 col-sm-12">        
                                        <ul class="posts-liststyle">
                                            <li><b>Title:</b> {{post.project.title}}</li> 
                                            <li><b>Year:</b> {{post.project.year}}</li>  
                                            <li><b>Genere:</b>  
                                                {% for genre in post.project.genre.all %}
                                                    {% if forloop.last %}       
                                                        {{genre}}                                                                                                                   
                                                    {% else %}        
                                                        {{genre}}, 
                                                    {% endif %}       
                                                {% endfor %} 
                                            </li>   
                                            <li><b>Language:</b> 
                                                {% for language in post.project.language.all %}
                                                    {% if forloop.last %}                                
                                                        {{language}}                                                                     
                                                    {% else %}       
                                                        {{language}},                                                                     
                                                    {% endif %}      
                                                {% endfor %}
                                        </li>
                                            {% if post.project.release_date %}
                                            <li><b>Release Date:</b> {{post.project.release_date}}</li>
                                            {% endif %}
                                            {% if post.project.budget %}
                                            <li><b>Budget:</b> {{post.project.budget}}</li>
                                            {% endif %}
                                            {% if post.project.imdb_link %}
                                            <li><b>IMDB:</b> <a target="_blank" href="{{post.project.imdb_link}}">Link</a></li>
                                            {% endif %}

                                            <li>
                                                    
                                                {% if post.project.description %}                              
                                            
                                                    {% if post.project.description_count > 120 %}
                                                        <p class="post_description_half_content_{{post.id}}"><b>Synopsis:</b>           
                                                            {{post.project.description|slice:120}} 
                                                            <a class="full_content_show btn-link"  post_id="{{post.id}}" href="#">Show More</a>               
                                                        </p> 

                                                        <p class="d-none post_description_full_content_{{post.id}}"><b>Synopsis:</b>                
                                                            {{post.project.description|safe}} 
                                                            <a post_id="{{post.id}}" class="half_content_show  btn-link" href="#">Show Less</a>               
                                                        </p>
                                                    {% else %}
                                                        <p><b>Synopsis:</b> {{post.project.description|safe}}</p>
                                                    {% endif %}
                                                                                                
                                                {% endif %}
                                            </li>
                                        </ul>                
                                    </div>
                                    <div class="col-lg-4 col-sm-12 mb-4">
                                        <div class="about-image  box-shadow ">

                                            {% if post.pitch.cover_image %}
                                                <img src="{{post.project.image.url}}"  alt="" class="w-100"> 
                                            {% else %}
                                                <img src="{% static 'images/no-image.png' %}"  alt="" class="w-100"> 
                                            {% endif %}
                                                             
                                        </div>
                                    </div>            
                                </div>                     

                            {% elif post.assistant %}

                                <div class="row">									
                                    <div class="col-lg-8 col-sm-12 mb-4">        
                                        <ul class="posts-liststyle">
                                            <li><b>Senior:</b>  {% if post.assistant.senior_link %}
                                                <a href="{% url 'profile' post.assistant.senior_link.id %}">{{post.assistant.senior_link}} </a>
                                            {% else %}
                                                {{post.assistant.senior}}
                                            {% endif %}

                                            
                                            </li>
                                            <li><b>Project:</b> {{post.assistant.project}}</li>    
                                            <li><b>Year:</b> {{post.assistant.year}} </li>                          
                                        </ul>                
                                    </div>
                                    <div class="col-lg-4 col-sm-12 mb-4">
                                        <div class="about-image  box-shadow ">
                                            <img src="{{post.assistant.project.image.url}}"  alt="" class="w-100">                  
                                        </div>
                                    </div>                        
                                </div> 

                            {% elif post.pitch %}
                                <div class="row">									
                                    <div class="col-lg-8 col-sm-12">        
                                        <ul class="posts-liststyle">
                                            <li><b>Genere:</b>  
                                                {% for genre in post.pitch.genre.all %}
                                                    {% if forloop.last %}        
                                                        {% if genre|stringformat:"s" != "Other"%}
                                                            {{genre}}                                                                                                                    
                                                        {% else %}
                                                            {{post.pitch.other_genre}}  
                                                        {% endif %}        
                                                    {% else %}        
                                                        {% if genre|stringformat:"s" != "Other"%}
                                                            {{genre}},                                                                                                                       
                                                        {% else %}
                                                            {{post.pitch.other_genre}}  
                                                        {% endif %}
                                                    {% endif %}       
                                            {% endfor %} 
                                            </li>
                                            <li><b>Format:</b> {{post.pitch.format}}</li>    
                                            <li><b>Language:</b> 
                                                {% for language in post.pitch.language.all %}
                                                    {% if forloop.last %} 
                                                        {% if language|stringformat:"s" == "Other"%}
                                                            {{post.pitch.other_language}}                                                             
                                                        {% else %}
                                                            {{language}}                                                                      
                                                        {% endif %}
                                
                                                    {% else %}        
                                                        {% if language|stringformat:"s" == "Other"%}
                                                            {{post.pitch.other_language}},                                                             
                                                        {% else %}
                                                            {{language}},                                                                      
                                                        {% endif %}
                                
                                                    {% endif %}       
                                                
                                                {% endfor %}
                                        </li>   
                                        
                                        {% if post.pitch.story_file %}
                                                <li><b>Story File:</b> <a class="story_file_download" data-bs-toggle="tooltip"  data-bs-placement="top" title="Download Story" download href="{{post.pitch.story_file.url}}"> Download <i class="fas fa-download"></i></a></li>
                                        {% endif %}
                                            
                                            <li>
                                                
                                                {% if post.pitch.description %}                              
                                            
                                                    {% if post.pitch.description_count > 120 %}
                                                        <p class="post_description_half_content_{{post.id}}"><b>Synopsis:</b>           
                                                            {{post.pitch.description|slice:120}} 
                                                            <a class="full_content_show btn-link"  post_id="{{post.id}}" href="#">Show More</a>               
                                                        </p> 

                                                        <p class="d-none post_description_full_content_{{post.id}}"><b>Synopsis:</b>                
                                                            {{post.pitch.description|safe}} 
                                                            <a post_id="{{post.id}}" class="half_content_show  btn-link" href="#">Show Less</a>               
                                                        </p>
                                                    {% else %}
                                                        <p><b>Synopsis:</b> {{post.pitch.description|safe}}</p>
                                                    {% endif %}
                                                                                                
                                                {% endif %}
                                            </li>
                                        </ul>                
                                    </div>

                                    <div class="col-lg-4 col-sm-12"> 
                                        <div class="about-image  box-shadow ">
                                            {% if post.pitch.cover_image %}
                                              <img src="{{post.pitch.cover_image.url}}"  alt="" class="w-100"> 
                                            {% else %}
                                              <img src="{% static 'images/no-image.png' %}"  alt="" class="w-100"> 
                                            {% endif %}                                         
                                        </div>                  
                    
                                    </div>
                                          
                                            
                                </div> 
                        
                            {% elif post.call %}        
                                <div class="row">									
                                    <div class="col-lg-12 col-sm-12">        
                                        <ul class="posts-liststyle">
                                            <li><b>Genere:</b>  
                                                {% for genre in post.call.genre.all %}
                                                    {% if forloop.last %}        
                                                        {% if genre|stringformat:"s" != "Other"%}
                                                            {{genre}}                                                                                                                    
                                                        {% else %}
                                                            {{post.call.other_genre}}  
                                                        {% endif %}        
                                                    {% else %}        
                                                        {% if genre|stringformat:"s" != "Other"%}
                                                            {{genre}},                                                                                                                       
                                                        {% else %}
                                                            {{post.call.other_genre}}  
                                                        {% endif %}
                                                    {% endif %}       
                                            {% endfor %} </li>
                                            <li><b>Format:</b> {{post.call.format}}</li>    
                                            <li><b>Language:</b>  {% for language in post.call.language.all %}

                                                {% if forloop.last %} 
                                                    {% if language|stringformat:"s" == "Other"%}
                                                        {{post.call.other_language}}                                                             
                                                    {% else %}
                                                        {{language}}                                                                      
                                                    {% endif %}
                            
                                                {% else %}
                            
                                                    {% if language|stringformat:"s" == "Other"%}
                                                        {{post.call.other_language}},                                                             
                                                    {% else %}
                                                        {{language}},                                                                      
                                                    {% endif %}
                            
                                                {% endif %}
                            
                                            
                            
                                            {% endfor %}</li>      
                                            
                                            <li>
                                                
                                                {% if post.call.description %}                              
                                            
                                                    {% if post.call.description_count > 120 %}
                                                            <p class="post_description_half_content_{{post.id}}"><b>Synopsis:</b>           
                                                                {{post.call.description|slice:120}} 
                                                                <a class="full_content_show btn-link"  post_id="{{post.id}}" href="#">Show More</a>               
                                                            </p> 

                                                            <p class="d-none post_description_full_content_{{post.id}}"><b>Synopsis:</b>                
                                                                {{post.call.description|safe}} 
                                                                <a post_id="{{post.id}}" class="half_content_show  btn-link" href="#">Show Less</a>               
                                                            </p>
                                                    {% else %}
                                                            <p><b>Synopsis:</b> {{post.call.description|safe}}</p>
                                                    {% endif %}
                                                                                                
                                                {% endif %}
                                            </li>
                                        </ul>                
                                    </div>
                                            
                                </div>                                       
                            {% endif %}
                          
                            <div class="entry-meta mt-1 d-flex align-items-center justify-content-between">
                            
                                <div class="entry-metalist d-flex align-items-center">
                                    <ul>   
                                      
                                        <li class="me-2"><i class="fa fa-thumbs-up"></i><span id="up_count{{post.id}}" > {{post.get_upvote_count}}</span></li>
                                            
                                        <li class="me-2"><i class="fa fa-thumbs-down"></i> <span id="down_count{{post.id}}" >{{post.get_downvote_count}}</span></li>
                                         
                
                                        
                  
                                        {% if post.post_category == "C"  %}                                           
                                             &nbsp; 

                                                 <li>
                                                       <a data-url="{% url 'interest' post.id %}" class="interest-btn " href="#"> 
                                                                {% check_interest post.id user as interest_status %}
                                                                {% if interest_status %}
                                                                    <i title="View Messages" class="fa fa-comment-alt" ></i>
                                                                {% else %}
                                                                    <i title="Send Message" class="fa fa-comment-alt" ></i>
                                                                {% endif %}
                                                        </a>
                                                  </li>
                                           
                                        {% endif %}
                
                                        {% if post.post_category == "T" %}
                                              &nbsp;
                                                <li>
                                                    <u>
                                                        <a data-url="{% url 'interest' post.id %}" class="interest-btn  " href="#"> 
                                                                    
                                                            {% check_interest post.id user as interest_status %}
                                                            {% if interest_status %}
                                                                    <i title="View Messages" class="fa fa-comment-alt" ></i>
                                                            {% else %}
                                                                    <i title="Send Messages" class="fa fa-comment-alt" ></i>
                                                            {% endif %}
                                                        </a>
                                                    </u>
                                                </li>
                                          
                
                                        {% endif %}

                                         &nbsp;  <li><i class="fa fa-reply"></i> {{post.get_interest_count}}</li>
                
                                        &nbsp;&nbsp; 
                                          <li>
                                               <i title="Report Post" class="fa fa-flag" ></i> 
                                               <span class="report_count get_report_count"  count="{{post.get_report_count}}">
                                                   {{post.get_report_count}}
                                               </span>
                                        
                                        </li> 
                                        &nbsp;&nbsp; 

                                        <li>
                                            {% if post.cannot_open %}
                                                <a post-title="{{post.post_title}}" status="closed" post-id="{{post.id}}" class="cannot_open_post btn btn-primary" href=""><i id="postid_{{post.id}}" status="close" title="Open Post"> Open</i></a>
                                            {% else %}
                                               <a post-title="{{post.post_title}}"  status="open" post-id="{{post.id}}" class="cannot_open_post btn btn-primary" href=""><i id="postid_{{post.id}}" status="open" title="Hard Inactive">Hard Inactive</i></a>
                                                
                                            {% endif %}
                                        </li>
                                    </ul>
                
                
                                </div>
                            </div>
                    </div>
                
               

                    <div class="report_div">
                        <div class="row">
                            <div class="col-sm-12  col-lg-6"><h5>Reports</h5></div>
                            {% if post.get_report_count > 0 %}
                              <div class="col-sm-12  col-lg-6"><a url="{% url 'skip_all_reports' model='post' pk=post.id %}" class="float-end skip_all_reports" href="#"><u>Skip All Reports</u></a></div>
                            {% endif %}
                        </div>

                        <h6 class="pl-3 d-none empty_report">No reports available</h6>

                        {% for report in post.reports.all %}

                        

                            <div class="row {% if report.is_active %} {% else %} bg-light  {% endif %} d-flex shadow-sm p-2 mb-2 border report-box report_id_{{report.id}}">                                            
                                <div class="col-lg-12 col-sm-12 mb-4">                        
                                    <h5 class="theme mb-1"> <a href="{% url 'profile' report.reported_by.id %}">{{report.reported_by}} </a> | <a title="Message" href="#"> <i class="fa fa-envelope get_all_message" data-url="{% url 'get_inbox_chat' report.reported_by.id %}" ></i> </a>    | <a title="Message" href="#"> <i class="fa fa-trash delete_report" report-id="{{report.id}}" data-url="{% url 'delete' parent_model_name='post' pk=report.id %}" ></i> </a> </h5>                              
                                    <span class="small">{{report.date}} </span>
                                    <p>{{report.comment}}</p>
                                </div>
                            </div>             
                        
                        {% empty %}
                           <h6 class="ml-3">No reports available</h6>
                        {% endfor %}

                    </div>                    
                </div>
            </div>
             <!-- Right sidebar starts -->
             <div class="col-lg-3 col-md-12 shadow-sm ">
              
            </div>
         
        </div>
    </div>
</section>
<!-- blog Ends -->  

<!-- AjaxModal -->
<div id="AjaxModal" class="modal AjaxModal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

</div>


<!--Post Report Modal-->
<div class="modal fade" id="cannot_open_postModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cannot_open_postModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <h6>Info</h6>

            <form id="deletepostform">
                {% csrf_token %}
                <textarea id="report_text" name="problem"></textarea>
            </form>
          
        </div>
        <div class="modal-footer">    
            <p style="color:red" id="info_text"></p>    
          <button type="button" post-id="" class="btn btn-primary cannot_open_post_btn"> </button>
        </div>
      </div>
    </div>
  </div>


<script src="{% static 'js/post.js' %}"></script>
<script src="{% static 'js/inbox.js' %}"></script>
<script src="{% static 'js/interest_msg.js' %}"></script>

<script>
  $( document ).ready(function() {

    //cannot_open modal popup
    $('.cannot_open_post').click(function() {
        event.preventDefault();
        postId = $(this).attr('post-id');
        postTitle = $(this).attr('post-title');
        var status = $(this).attr('status');
        
        $('#cannot_open_postModal').modal('show'); 
 
        if(status == "open"){            
            $('#cannot_open_postModalLabel').text(postTitle+ " -  Hard Inactive" );
            $('.cannot_open_post_btn').attr("post-id",postId);
            $('.cannot_open_post_btn').text("Hard Inactive");           

        }
        else{

            $('#cannot_open_postModalLabel').text(postTitle+ " -  Open" );
            $('.cannot_open_post_btn').attr("post-id",postId);
            $('.cannot_open_post_btn').text("Open");

        }

        $('#report_text').val('');


    });
    
    //cannot_open ajax call to server
    $('#cannot_open_postModal').on('click','.cannot_open_post_btn',function(){
        event.preventDefault();
        var postId = $(this).attr('post-id');
        formdata = new FormData($('#cannot_open_postModal #deletepostform')[0]);
        reporttext = $('#report_text').val();    

        if(reporttext){

            url = "/post_cannot_open/"+postId;

            $.ajax({
                url:url,
                data : formdata,
                method: 'post',
                processData: false,
                contentType: false,

                beforeSend:function()
                {
                    $('#cannot_open_postModal #info_text').text('Please Wait');
                    
                },

                success:function(output)
                {
                    if(output.closed){
                       alert('Closed');

                       $('.cannot_open_post').attr('status','closed');
                       $('#postid_'+postId).attr('title','Open Post');
                       $('#postid_'+postId).text('Open');
                    }
                    else{
                        alert('Opened');
                        $('.cannot_open_post').attr('status','open');
                        $('#postid_'+postId).attr('title','Close Post');
                        $('#postid_'+postId).text('Close');
                    }

                    $('#cannot_open_postModal #info_text').text('');

                    $('#cannot_open_postModal').modal('toggle');
                    
                    
                }
            
            });


        }

        else{
            alert("Info can't be empty");
        }

    });
 


    //Skip all reports
    $('.skip_all_reports').click(function() {
        event.preventDefault();
        var url = $(this).attr('url');
        
        
        $.ajax({
            url:url,

            success:function(output)
            {                
                $('.report_count').text('0');
                $('.report-box').addClass('bg-light');  
            }

        });
    });
    



   //Report Delete
   $('.delete_report').click(function() {
        event.preventDefault();
        url = $(this).attr('data-url');
        reportid = $(this).attr('report-id');

        if(confirm('Are you sure want to delete this report')){

            $.ajax({
            url:url,

            success:function(output)
            {
                if(output.deleted){
                   alert('Report was successfully deleted');
                   var oldcount = $('.get_report_count').attr('count');
                   var newcount = oldcount - 1;
                   $('.report_count').text(newcount);
                   $('.report_id_'+reportid).remove();
                   var numItems = $('.report-box').length;
                   if (numItems == 0){

                    $('.empty_report').removeClass('d-none');

                   }

                }
                else{
                    alert('Something went wrong..!');
                }

             
                
            }

        });

        }

   });
    

 

  });

</script>
 

{% endblock %}