{% extends 'registration-and-login-base.html' %}
{% load crispy_forms_tags %}
{% block content %}      
        <div class="container p-3">
            <div>
				<h5>Password Reset Form</h5>
                {% if user %}

                    {% if time_exceeded %}

                    <p>Generated OTP was expired. Please use the link below to create a new one.</p>

                    <a href="{% url 'reset_password' %}" class="btn text-center">Generate OTP</a>

                    {% else %}
                        <p>Please enter your new password so we can verify..</p>
                        
                        <form action="" method="POST">
                            {% csrf_token %} 
                            {{form|crispy}}
                            <input class="btn btn-primary mt-1" type="submit" value="Reset Password"/>
                        </form>	
                    {% endif %}

                {% else %}
                <p  class="h6">OTP entered was no longer valid. Please use the link below to create a new one.</p>

                <a href="{% url 'reset_password' %}" class="btn text-center">Generate OTP</a>

                {% endif %}
	        </div>	         
        </div>             
{% endblock %}