{% load crispy_forms_tags %}

{% if operation == "Add" %}
  <div class="modal-dialog  modal-dialog-scrollable" role="document" id="{{model_name}}_Modal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
            Create Event
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          
        </button>
      </div>
      <div class="modal-body">
        <form method="post" id="ajax_form" enctype="multipart/form-data">

   
            <table>
                {% csrf_token %}
                {{form|crispy}}
            </table>
            
            
        </form>
      </div>
      <div class="modal-footer">
        <span style="color:red" id="info_text"></span>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
        <button type="button" id="add_btn"  class="btn btn-primary ajax-add-btn">Save</button>
      
        </div>
    </div>
  </div>

{% else %}

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
            Edit Event
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          
        </button>
      </div>
      <div class="modal-body">
        <form method="post" id="ajax_form" enctype="multipart/form-data">
            <table>
                {% csrf_token %}
                {{form|crispy}}
            </table>
            
            
        </form>
      </div>
      <div class="modal-footer">
        <span style="color:red" id="info_text"></span>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        {% comment %}<button type="button"  data-url= "{% url 'delete_event' pk  %}" class="btn btn-secondary ajax-delete-btn">Delete</button> {% endcomment %}
        <button type="button"  data-url= "{% url 'edit_event' pk  %}" class="btn btn-primary ajax-update-btn">Update</button>
     
        </div>
    </div>
  </div>


{% endif %}
