{% load static %}


        
<div class="row" class="senior-list mt-2" >
    
      {% for user in users %}
          <div class="col-sm-12 mt-1 " id="user_id_{{user.id}}">
              <input type="checkbox" class="user-select" id="user-show" user_id="{{user.id}}"  name="userselect" value="{{user.id}}">
              <label for="user-show"> 
                  {% if user.profile_photo %}                     
                      <img class="img-fluid rounded-circle" height="50" width="50" src="{{user.profile_photo.url}}">
                  {% else%}
                      <img class="img-fluid rounded-circle " height="50" width="50" src="{% static 'images/avatar.png' %}" alt="avatar">
                  {% endif %}
                  {{user}} 
                  
              </label>      
              <br><hr class="m-2">  
          </div>

       {% empty %}

       <h5 class="match-not-found">Match Not Found..!</h5>
  
      {% endfor %}


  </div>                
      
